[project]
	description = High-level D wrapper for ncurses
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matt Soucy (msoucy)
[access "refs/for/refs/*"]
	read = group user/Matt Soucy (msoucy)
	push = group user/Matt Soucy (msoucy)
	label-Code-Review = -2..+2 group user/Matt Soucy (msoucy)
	label-Verified = -1..+1 group user/Matt Soucy (msoucy)
	rebase = group user/Matt Soucy (msoucy)
	removeReviewer = group user/Matt Soucy (msoucy)
	submit = group user/Matt Soucy (msoucy)
[access "refs/heads/*"]
	read = group user/Matt Soucy (msoucy)
	create = group user/Matt Soucy (msoucy)
	push = +force group user/Matt Soucy (msoucy)
	pushMerge = group user/Matt Soucy (msoucy)
[access "refs/tags/*"]
	push = +force group user/Matt Soucy (msoucy)
	pushTag = group user/Matt Soucy (msoucy)
	pushSignedTag = group user/Matt Soucy (msoucy)
